<div class="td">
    <form #form1="ngForm">
        <p>form 1</p>
        <form ngForm #form2>
            <p>form 2</p>
            <input type="text" name="form-2" id="form-2">
            <form ngForm #form2.1>
                <p>form 2.1</p>
                <input type="text" name="form-2-1" id="form-2-1">
            </form>
            <form ngForm #form2.2>
                <p>form 2.2</p>
                <input type="text" name="form-2-2" id="form-2-2">
            </form>
            <form ngForm #form3>
                <p> <b>Reactive form</b> </p>
                <p>form 3</p>
                <input type="text" name="form-3" id="form-3">
                <form ngForm #form3.1>
                    <p>form 3.1</p>
                    <input type="text" name="form-3-1" id="form-3-1">
                </form>
            </form>
            <form ngForm #form4>
                <p> <b>Isolated form</b> </p>
                <p>form 4</p>
                <input type="text" name="form-4" id="form-4">
                <form ngForm #form4.1>
                    <p>form 3.2</p>
                    <input type="text" name="form-4-1" id="form-4-1">
                </form>
            </form>
        </form>
    </form>
</div>